
#navbar {
    position: fixed;
    top: 0;
}

#navbar a {
    margin-right: 200px;
    color: white;
}

#botao-pesquisa {
    background-color: #ffffff;
}

#botao-pesquisa:hover {
    background-color: #7f7f7f;
}
#botao-pesquisa:hover {
    background-color: #7f7f7f;
  }
  
  #navbar #menu {
    list-style: none;
  }
  
  #navbar #menu ul {
    margin-top: 10px;
  
  }
  
  #navbar #menu ul li a {
    color: #000;
  }

  #logobranco{
    width: 100px;
 }

@media (max-width: 1023px) {
    #navbar {
        display: none;
    }
}