<div class="container-index">
  <nav class="navbar navbar-transparent" id="navbar">
    <div class="container-fluid">
      <li id="menu" class="nav-item dropdown">
        <a
          class="nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-symbols-outlined"> menu </span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/mapa']">Mapa</a></li>
          <li><a class="dropdown-item" [routerLink]="['/conta']">Conta</a></li>
          <li><a class="dropdown-item" href="#">Notificações</a></li>
          <li><a class="dropdown-item" href="#">Privacidade</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">Ajuda</a></li>
        </ul>
      </li>
      <a class="navbar-brand" href="#"
        ><img id="logobranco" src="../../../assets/MyNeighborBranco.png" alt=""
      /></a>
      <form class="d-flex" role="search">
        <input
          id="input-pesquisa"
          class="form-control me-2"
          type="Pesquisar"
          placeholder="Pesquisar"
          aria-label="Pesquisar"
          #enderecoInput
        />
        <button id="botao-pesquisa" class="btn">🔍</button>
      </form>
    </div>
  </nav>
</div>
