#navbar {
  position: fixed;
  top: 20px;
}

#navbar a{
  margin-right: 200px;
  color: white;
}

#botao-pesquisa
{
  background-color: #ffffff;
}

#botao-pesquisa:hover
{
background-color: #7f7f7f;
}

#map
{
width: 140vh;
height: 70vh;
}

@media (max-width: 1023px) {
  #navbar{
  display: none;
}
  #map {
  width: 95vw;
    height: 90vh; /* 100% da altura da viewport (tela) */
  }
}
