<div class="container">
<div class="row justify-content-center">
    <div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h5 class="text-center mb-3">Alterar senha</h5>
                <label for="senha" class="form-label">Digite sua nova senha:</label>
                <input type="password" class="form-control" id="senha" formControlName="senha" />
                <button type="sucess" class="btn btn-primary mt-3">Salvar</button>
            </div>
        </div>
    </div>
</div>
