<div class="container-index">
  <div class="card" id="imgCidade">
    <img src="../../../assets/fundo-da-cidade-futurista.png" alt="Imagem de cidade futurista">
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body p-4">
        <div class="text-center">
          <img src="../../../assets/MyNeighborLogo.png" style="width: 80px;" alt="" />
        </div>
        <h5 class="text-center mb-3">Bem vindo!</h5>
        <form [formGroup]="loginFormGroup">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              id="senha"
              formControlName="senha"
            />
          </div>
          <div class="text-center" id="links">
            <a [routerLink]="['/esqueci-minha-senha']" >Esqueci minha senha</a><br />
            <a [routerLink]="['/cadastro']">Criar uma nova conta</a>
          </div>
          <div class="text-center mt-3" id="botao">
            <button (click)="login()" type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>