

#botao-tela-login-crud {
  background-color: white;
}


/* 
.componentes .componente-principal {
  margin-top: 20px;
} */

.componentes .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

#footer a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: small;
}

#footer a:hover{
  color: #cecece;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.componentes {
  margin-top: 20px;
}


/* media screen */

@media (max-width: 1023px) {
  #navbar {
    display: none;
  }
}
