<div class="container">

  <nav class="navbar navbar-transparent" id="navbar" style="z-index: 1">

    <div class="container-fluid">

      <a class="navbar-brand" href="#">MyNeighbor</a>

      <li id="menu" class="nav-item dropdown">

        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

          <span class="material-symbols-outlined"> menu </span>

        </a>

        <ul class="dropdown-menu">

          <li><a class="dropdown-item" [routerLink]="['/mapa']">Mapa</a></li>
          <li><a class="dropdown-item" href="#">Conta</a></li>
          <li><a class="dropdown-item" href="#">Notificações</a></li>
          <li><a class="dropdown-item" href="#">Privacidade</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">Ajuda</a></li>

        </ul>

      </li>

      <form class="d-flex" role="search">
        <input id="input-pesquisa" class="form-control me-2" type="Pesquisar" placeholder="Pesquisar"
          aria-label="Pesquisar" />
        <button id="botao-pesquisa" class="btn">🔍</button>
        <button id="botao-tela-login-crud" class="btn">Admin Panel</button>
      </form>
      
    </div>
  </nav>
  <div class="componentes" style="z-index: 0"><router-outlet></router-outlet></div>
</div>