.container app-menu{
  position: fixed;
  top: 2%;
}

#map
{
width: 140vh;
height: 70vh;
}


@media (max-width: 1023px) {
  #map {
  width: 95vw;
    height: 90vh; /* 100% da altura da viewport (tela) */
  }
}
