<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src="../../../assets/MyNeighborLogo.png" style="width: 70px" alt="" />
          </div>
          <h5 class="card-title text-center">Seja um de nós!</h5>
          <form [formGroup]="formulario" (ngSubmit)="avancarParaProximaPagina()">
            <div class="form-group p-2">
              <label for="nome">Nome Completo:</label>
              <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" />
            </div>
            <div class="form-group p-2">
              <label for="email">E-mail:</label>
              <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email" />
            </div>
            <div class="form-group p-2">
              <label for="senha">Senha:</label>
              <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha" />
            </div>
            <div class="form-group p-2">
              <label for="dataNascimento">Data de Nascimento:</label>
              <input type="date" class="form-control" id="dataNascimento" placeholder="Data de Nascimento" formControlName="dataNascimento" />
            </div>
            <div class="text-center pt-2" id="botao">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!formulario.valid">
                Avançar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
