<h1>login</h1>
  <main id="loginAdmin">


    <h3 id="titulo-login">Entre com suas credenciais</h3>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Login</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Type your login">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type your password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </main>


