<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h5>Informe seu novo endereço</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group p-2">
                  <label for="cepEdit">CEP:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cepEdit"
                    placeholder="CEP"
                  />
                </div>
                <div class="form-group p-2">
                  <label for="ruaEdit">Rua:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ruaEdit"
                    placeholder="Rua"
                  />
                </div>
                <div class="form-group p-2">
                  <label for="numeroEdit">Número:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="numeroEdit"
                    placeholder="Número"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group p-2">
                  <label for="complementoEdit">Complemento:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="complementoEdit"
                    placeholder="Complemento"
                  />
                </div>
                <div class="form-group p-2">
                  <label for="bairroEdit">Bairro:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="bairroEdit"
                    placeholder="Bairro"
                  />
                </div>
                <div class="form-group p-2">
                  <label for="cidadeEdit">Cidade:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cidadeEdit"
                    placeholder="Cidade"
                  />
                </div>
              </div>
              <div class="col-2">
                <div class="form-group p-2">
                  <label for="estadoEdit">Estado:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="estadoEdit"
                    placeholder="Estado"
                  />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
