#links a
{
  text-decoration: none;
  color: blueviolet;
}

#botao a:hover{
  background-color: #460496;
}

#botao button
{
  background-color: #6707dc;
  border: none;
}

#botao button:hover{
  background-color: #460496;
}

#imgCidade
{
  max-width: 600px;
}

@media screen and (max-width: 1220px) {
  #imgCidade img{
    display: none;
  }
}
