<div class="card" id="formUser">

    <div class="card-header bg-primary text-light">
        {{title}}
    </div>

    <form class="form-group m-2" id="form-container" (ngSubmit)="ngOnSubmit()">

        <div class="box row">

            <!-- First Column -->
            <div class="col-md-6">
                <h6>Dados Cliente</h6>

                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" required class="form-control" required minlength="3" id="cpf" name="cpf"
                        [(ngModel)]="usuario.cpf">
                </div>

                <div class="form-group">
                    <label for="nomeCompleto">Nome </label>
                    <input type="text" required class="form-control" required minlength="3" id="nome" name="nome"
                        [(ngModel)]="usuario.nome">
                </div>

                <div class="form-group">
                    <label for="dataNascimento">Data de nascimento</label>
                    <input type="date" class="form-control" required minlength="3" id="dataNascimento"
                        name="dataNascimento" [(ngModel)]="usuario.dataNascimento">
                </div>

            </div>

            <!-- Second Column -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" required class="form-control" required minlength="3" id="email" name="email"
                        [(ngModel)]="usuario.email">
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" required minlength="3" id="senha" name="senha"
                        [(ngModel)]="usuario.senha">
                </div>

                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" rows="3" class="form-control" required minlength="3" id="cidade" name="cidade"
                        [(ngModel)]="usuario.cidade">
                </div>

                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" rows="3" class="form-control" required minlength="3" id="bairro" name="bairro"
                        [(ngModel)]="usuario.bairro">
                </div>
            </div>

        </div>

        <div id="botoes" >
            
            <button type="submit" class="btn btn-primary" id="btnSubmit">Salvar</button>
            <a class="btn btn-secondary m-1" (click)="retornaList()">Cancelar</a>
        </div>  

    </form>
 
        
</div>
