body {
  background: linear-gradient(to bottom, #5935A1, #300057);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
