<div class="container-index">
  <app-menu style="z-index: 1;"></app-menu>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card" style="z-index: 0;">
        <div class="card-body">
          <div class="text-center">
            <h5>Alterar telefone</h5>
            <div class="form-group p-4">
              <label for="telefoneEdit">Informe seu novo número:</label>
              <input
                type="text"
                class="form-control"
                id="telefoneEdit"
                placeholder="Telefone"
              />
            </div>
            <button type="submit" class="btn btn-success btn-block">
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
