<div class="container">
    <app-menu></app-menu>
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h5 class="text-center mb-3">Alterar Nome</h5>
                <label for="senha" class="form-label">Como você quer ser chamado(a)</label>
                <input type="password" class="form-control" id="senha" formControlName="senha" />
                <button type="sucess" class="btn btn-primary mt-3">Salvar</button>
            </div>
        </div>
    </div>
</div>